<footer>
  <div class="footer-wrap">
    <div class="footer-grid">
      <div>
        <h4>Calculator</h4>
        <a class="link" href="/">Open Calculator</a>
      </div>
      <div>
        <h4>Guides</h4>
        <a class="link" href="/guides/whole-house-vs-portable">Whole-house vs Portable</a>
        <a class="link" href="/guides/transfer-switch">Transfer Switches &amp; Interlocks</a>
        <a class="link" href="/guides/surge-watts">Starting (Surge) Watts</a>
        <a class="link" href="/guides/fuel-types">Fuel Types &amp; Run Time</a>
      </div>
      <div>
        <h4>Company</h4>
        <a class="link" href="/about">About</a>
        <a class="link" href="/contact">Contact</a>
        <a class="link" href="/faqs">FAQs</a>
      </div>
      <div>
        <h4>Legal</h4>
        <a class="link" href="/disclaimer">Disclaimer</a>
        <a class="link" href="/terms">Terms</a>
        <a class="link" href="/privacy">Privacy</a>
        <a class="link" href="/sitemap.xml">Sitemap</a>
      </div>
    </div>

    <div class="foot-meta">
      <span>PA HIC License # PA 073102</span>
      <span><a class="link" href="mailto:bill@atacamahvac.com">bill@atacamahvac.com</a></span>
      <span>For general information only. Always consult a licensed electrician.</span>
    </div>
  </div>
</footer>
