<footer>
  <div class="footer-wrap">
    <div class="footer-grid">
      <div>
        <h4>Calculator</h4>
        <a class="link" href="/">Open Calculator</a>
      </div>
      <div>
        <h4>Guides</h4>
        <a class="link" href="/generator-sizing-guide/">Home Generator Sizing Guide</a>
        <a class="link" href="/200-amp-generator-size/">200-Amp Generator Size</a>
        <a class="link" href="/transfer-switch-vs-interlock/">Transfer Switch vs Interlock</a>
        <a class="link" href="/well-pump-starting-watts/">Well Pump Starting Watts</a>
      </div>
      <div>
        <h4>Company</h4>
        <a class="link" href="/about">About</a>
        <a class="link" href="/contact">Contact</a>
        <a class="link" href="/faqs">FAQs</a>
      </div>
      <div>
        <h4>Legal</h4>
        <a class="link" href="/disclaimer">Disclaimer</a>
        <a class="link" href="/terms">Terms</a>
        <a class="link" href="/privacy">Privacy</a>
        <a class="link" href="/sitemap.xml">Sitemap</a>
      </div>
    </div>

    <div class="foot-meta">
      <span>PA HIC License # PA 073102</span>
      <span><a class="link" href="mailto:bill@atacamahvac.com">bill@atacamahvac.com</a></span>
      <span>For general information only. Always consult a licensed electrician.</span>
    </div>
  </div>
</footer>
